In [27]:
import pandas as pd
import numpy as np

In [28]:
element = 'TENEBRE'
target = 'DMG SUR FEU'

In [29]:
df_max = pd.read_pickle(r"C:\Users\Kevin\PycharmProjects\SW\api\data_max.pkl")

df_max

,index,arte_type,arte_attribut,arte_equiped,unit_style,level,efficiency,main_type,main_value,first_sub,...,second_sub,second_sub_value,third_sub,third_sub_value,fourth_sub,fourth_sub_value,first_sub_value_max,second_sub_value_max,third_sub_value_max,fourth_sub_value_max
0,15910973,ARCHETYPE,HP,Inventaire,3,15,76.04,DEF,100,ATK EN FONCTION HP PERDUS,...,PRECISION S3,10.0,DMG SUPP EN FONCTION DE LA DEF,7.0,RENFORCEMENT SPD,10.0,14.0,6.0,4.0,6.0
1,54472352,ARCHETYPE,ATTACK,Inventaire,1,15,80.21,HP,1500,DMG SUPP EN FONCTION DES HP,...,DMG SUPP EN FONCTION DE L'ATQ,8.0,COOP DMG,3.0,CRIT DMG S2,12.0,0.3,4.0,4.0,6.0
2,65281023,ELEMENT,EAU,Inventaire,0,15,79.79,ATK,100,DMG SUPP EN FONCTION DE LA SPD,...,SPD EN CAS D'INCAPACITE,14.0,COOP DMG,3.0,REVENGE,6.0,40.0,6.0,4.0,4.0
3,68905118,ELEMENT,VENT,Inventaire,0,15,62.81,ATK,100,DMG SUPP EN FONCTION DE LA SPD,...,DMG SUPP EN FONCTION DE L'ATQ,2.0,RENFORCEMENT ATK,10.0,DMG SUPP EN FONCTION DES HP,0.3,40.0,4.0,5.0,0.3
4,90893179,ELEMENT,LUMIERE,Inventaire,0,15,70.83,ATK,100,CRIT DMG EN FONCTION DES HP FAIBLES,...,DMG SUPP EN FONCTION DE L'ATQ,6.0,DMG SUPP EN FONCTION DE LA SPD,60.0,REDUCTION SUR FEU,6.0,12.0,4.0,40.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
733,393594751,ELEMENT,TENEBRE,Isillen,0,15,68.33,ATK,100,DMG SUR EAU,...,RENFORCEMENT SPD,4.0,DMG SUPP EN FONCTION DES HP,0.9,DMG SUR LUMIERE,4.0,5.0,6.0,0.3,5.0
734,114381221,ARCHETYPE,HP,Truffle,3,15,81.25,HP,1500,RENFORCEMENT SPD,...,PRECISION S3,16.0,PRECISION S1,6.0,DMG SUPP EN FONCTION DE L'ATQ,6.0,6.0,6.0,6.0,4.0
735,293330466,ELEMENT,TENEBRE,Truffle,0,15,77.08,HP,1500,CRIT DMG RECU,...,REDUCTION SUR EAU,14.0,REDUCTION SUR VENT,11.0,CRIT DMG EN FONCTION DES HP FAIBLES,12.0,4.0,6.0,6.0,12.0
736,183517491,ARCHETYPE,DEFENSE,Zinc,2,15,80.94,HP,1500,CRIT DMG S3,...,DMG SUPP EN FONCTION DES HP,0.8,DMG SUPP EN FONCTION DE LA SPD,39.0,HP REVIVE,6.0,6.0,0.3,40.0,6.0
737,293211651,ELEMENT,TENEBRE,Zinc,0,15,94.79,HP,1500,DMG SUPP EN FONCTION DE L'ATQ,...,REDUCTION SUR LUMIERE,5.0,DMG SUPP EN FONCTION DES HP,0.9,DMG SUPP EN FONCTION DE LA DEF,7.0,4.0,6.0,0.3,4.0

In [30]:
df_filter = df_max[df_max['arte_attribut'] == element]

df_filter[(df_filter['first_sub'] == target) | (df_filter['second_sub'] == target) | (df_filter['third_sub'] == target) | (df_filter['fourth_sub'] == target)]

,index,arte_type,arte_attribut,arte_equiped,unit_style,level,efficiency,main_type,main_value,first_sub,...,second_sub,second_sub_value,third_sub,third_sub_value,fourth_sub,fourth_sub_value,first_sub_value_max,second_sub_value_max,third_sub_value_max,fourth_sub_value_max
17,103933235,ELEMENT,TENEBRE,Inventaire,0,15,94.17,DEF,100,REDUCTION SUR LUMIERE,...,DMG SUR EAU,8.0,DMG SUR DARK,10.0,DMG SUR FEU,8.0,6.0,5.0,5.0,5.0
34,119572356,ELEMENT,TENEBRE,Inventaire,0,15,82.08,ATK,100,DMG SUPP EN FONCTION DE LA SPD,...,DMG SUR FEU,4.0,REDUCTION SUR VENT,11.0,ATB REVIVE,8.0,40.0,5.0,6.0,6.0
113,182019786,ELEMENT,TENEBRE,Inventaire,0,15,90.00,ATK,100,CRIT DMG RECU,...,DMG SUR FEU,9.0,DMG SUR DARK,12.0,DMG SUR EAU,5.0,4.0,5.0,5.0,5.0
144,259098718,ELEMENT,TENEBRE,Inventaire,0,15,102.71,ATK,100,DMG SUPP EN FONCTION DE L'ATQ,...,DMG SUR FEU,14.0,HP REVIVE,12.0,DMG SUPP EN FONCTION DES HP,0.5,4.0,5.0,6.0,0.3
253,387855558,ELEMENT,TENEBRE,Inventaire,0,15,69.58,ATK,100,CRIT DMG SUR CIBLE UNIQUE,...,REDUCTION SUR EAU,16.0,DMG SUR VENT,3.0,DMG SUR FEU,4.0,4.0,6.0,5.0,5.0
712,123646849,ELEMENT,TENEBRE,Martina,0,15,76.25,DEF,100,REDUCTION SUR LUMIERE,...,DMG SUR FEU,8.0,CRIT DMG EN FONCTION DES HP ELEVES,8.0,REDUCTION SUR EAU,15.0,6.0,5.0,6.0,6.0

In [31]:
def prepare_data(data_max, aggfunc):        
            df_first = pd.pivot_table(data_max, index=['first_sub', 'arte_attribut', 'main_type'], values='first_sub_value', aggfunc=aggfunc).reset_index()
            df_second = pd.pivot_table(data_max, index=['second_sub', 'arte_attribut', 'main_type'], values='second_sub_value', aggfunc=aggfunc).reset_index()
            df_third = pd.pivot_table(data_max, index=['third_sub', 'arte_attribut', 'main_type'], values='third_sub_value', aggfunc=aggfunc).reset_index()
            df_fourth = pd.pivot_table(data_max, index=['fourth_sub', 'arte_attribut', 'main_type'], values='fourth_sub_value', aggfunc=aggfunc).reset_index()

            df_max = df_first.merge(df_second, how='outer', left_on=['first_sub', 'arte_attribut', 'main_type'], right_on=['second_sub', 'arte_attribut', 'main_type'])
            df_max['first_sub'].fillna(df_max['second_sub'], inplace=True)
            df_max = df_max.merge(df_third, how='outer', left_on=['first_sub', 'arte_attribut', 'main_type'], right_on=['third_sub', 'arte_attribut', 'main_type'])
            df_max['first_sub'].fillna(df_max['third_sub'], inplace=True)
            df_max = df_max.merge(df_fourth, how='outer', left_on=['first_sub', 'arte_attribut', 'main_type'], right_on=['fourth_sub', 'arte_attribut', 'main_type'])
            df_max['first_sub'].fillna(df_max['fourth_sub'], inplace=True)
            
            df_max = df_max[df_max['first_sub'] != 'Aucun']
            
            df_max['third_sub'] = df_max['third_sub'].fillna(df_max['fourth_sub'])
            df_max['second_sub'] = df_max['second_sub'].fillna(df_max['third_sub'])
            df_max['first_sub'] = df_max['first_sub'].fillna(df_max['second_sub'])
            
            df_max[['first_sub_value', 'second_sub_value', 'third_sub_value', 'fourth_sub_value']] = df_max[['first_sub_value', 'second_sub_value', 'third_sub_value', 'fourth_sub_value']].fillna(0)
            
            

            return df_max

In [32]:
df_first = pd.pivot_table(df_max, index=['first_sub', 'arte_attribut', 'main_type'], values='first_sub_value', aggfunc=lambda x: x.nlargest(5).tolist()).reset_index()
df_second = pd.pivot_table(df_max, index=['second_sub', 'arte_attribut', 'main_type'], values='second_sub_value', aggfunc=lambda x: x.nlargest(5).tolist()).reset_index()
df_third = pd.pivot_table(df_max, index=['third_sub', 'arte_attribut', 'main_type'], values='third_sub_value', aggfunc=lambda x: x.nlargest(5).tolist()).reset_index()
df_fourth = pd.pivot_table(df_max, index=['fourth_sub', 'arte_attribut', 'main_type'], values='fourth_sub_value', aggfunc=lambda x: x.nlargest(5).tolist()).reset_index()

In [33]:
df_first[(df_first['first_sub'] == target) & (df_first['arte_attribut'] == element)]

Empty DataFrame
Columns: [first_sub, arte_attribut, main_type, first_sub_value]
Index: []

In [34]:
df_second[(df_second['second_sub'] == target) & (df_second['arte_attribut'] == element)]

      second_sub arte_attribut main_type  second_sub_value
219  DMG SUR FEU       TENEBRE       ATK  [14.0, 9.0, 4.0]
220  DMG SUR FEU       TENEBRE       DEF             [8.0]

In [35]:
df_third[(df_third['third_sub'] == target) & (df_third['arte_attribut'] == element)]

Empty DataFrame
Columns: [third_sub, arte_attribut, main_type, third_sub_value]
Index: []

In [36]:
df_fourth[(df_fourth['fourth_sub'] == target) & (df_fourth['arte_attribut'] == element)]

      fourth_sub arte_attribut main_type fourth_sub_value
231  DMG SUR FEU       TENEBRE       ATK            [4.0]
232  DMG SUR FEU       TENEBRE       DEF            [8.0]

In [37]:
df_max = df_first.merge(df_second, how='outer', left_on=['first_sub', 'arte_attribut', 'main_type'], right_on=['second_sub', 'arte_attribut', 'main_type'])
df_max = df_max.merge(df_third, how='outer', left_on=['first_sub', 'arte_attribut', 'main_type'], right_on=['third_sub', 'arte_attribut', 'main_type'])
df_max = df_max.merge(df_fourth, how='outer', left_on=['first_sub', 'arte_attribut', 'main_type'], right_on=['fourth_sub', 'arte_attribut', 'main_type'])

In [38]:
df_max_filter = df_max[df_max['arte_attribut'] == element]

df_max_filter[(df_max_filter['first_sub'] == target) | (df_max_filter['second_sub'] == target) | (df_max_filter['third_sub'] == target) | (df_max_filter['fourth_sub'] == target)]

,first_sub,arte_attribut,main_type,first_sub_value,second_sub,second_sub_value,third_sub,third_sub_value,fourth_sub,fourth_sub_value
475,NaN,TENEBRE,ATK,NaN,DMG SUR FEU,"[14.0, 9.0, 4.0]",NaN,NaN,NaN,NaN
707,NaN,TENEBRE,DEF,NaN,DMG SUR FEU,[8.0],NaN,NaN,NaN,NaN
837,NaN,TENEBRE,ATK,NaN,NaN,NaN,NaN,NaN,DMG SUR FEU,[4.0]
838,NaN,TENEBRE,DEF,NaN,NaN,NaN,NaN,NaN,DMG SUR FEU,[8.0]

In [39]:
df_max['third_sub'] = df_max['third_sub'].fillna(df_max['fourth_sub'])
df_max['second_sub'] = df_max['second_sub'].fillna(df_max['third_sub'])
df_max['first_sub'] = df_max['first_sub'].fillna(df_max['second_sub'])

df_max_filter = df_max[df_max['arte_attribut'] == element]

df_max_filter[(df_max_filter['first_sub'] == target) | (df_max_filter['second_sub'] == target) | (df_max_filter['third_sub'] == target) | (df_max_filter['fourth_sub'] == target)]

,first_sub,arte_attribut,main_type,first_sub_value,second_sub,second_sub_value,third_sub,third_sub_value,fourth_sub,fourth_sub_value
475,DMG SUR FEU,TENEBRE,ATK,NaN,DMG SUR FEU,"[14.0, 9.0, 4.0]",NaN,NaN,NaN,NaN
707,DMG SUR FEU,TENEBRE,DEF,NaN,DMG SUR FEU,[8.0],NaN,NaN,NaN,NaN
837,DMG SUR FEU,TENEBRE,ATK,NaN,DMG SUR FEU,NaN,DMG SUR FEU,NaN,DMG SUR FEU,[4.0]
838,DMG SUR FEU,TENEBRE,DEF,NaN,DMG SUR FEU,NaN,DMG SUR FEU,NaN,DMG SUR FEU,[8.0]