In [26]:
from fonctions.visualisation import transformation_stats_visu
from datetime import datetime
import pandas as pd

In [27]:
data_scoring = transformation_stats_visu(
            'sw_score', 67, distinct=True)

In [28]:
data_scoring

     score        date
296    805  21/10/2022
140    808  28/10/2022
172    808  29/10/2022
197    808  30/10/2022
26     808  01/11/2022
148    812  14/11/2022
45     815  20/11/2022
87     817  23/11/2022
129    817  27/11/2022
83     817  30/11/2022
7      823  02/12/2022
204    823  03/12/2022
130    831  05/12/2022
111    823  05/12/2022
92     825  05/12/2022
253    830  05/12/2022
6      831  06/12/2022
247    836  11/12/2022
46     884  23/12/2022

In [29]:
data_scoring

     score        date
296    805  21/10/2022
140    808  28/10/2022
172    808  29/10/2022
197    808  30/10/2022
26     808  01/11/2022
148    812  14/11/2022
45     815  20/11/2022
87     817  23/11/2022
129    817  27/11/2022
83     817  30/11/2022
7      823  02/12/2022
204    823  03/12/2022
130    831  05/12/2022
111    823  05/12/2022
92     825  05/12/2022
253    830  05/12/2022
6      831  06/12/2022
247    836  11/12/2022
46     884  23/12/2022